Backend/.env
Backend/.env.*
!Backend/.env.example
Frontend/node_modules

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

venv/
.venv/
antenv/
env/

dist/
build/
*.egg-info/

*.log
logs/

.vscode/
.idea/

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/

*.sql


Backend/app/modules/email_invoice_ingestion/email_invoice_ingestion/credentials/
Backend/app/modules/email_invoice_ingestion/email_invoice_ingestion/data/invoices/