.env*
!.env.example

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

venv/
.venv/
antenv/
env/

dist/
build/
*.egg-info/
release.zip
output.tar.zst


*.log
logs/


.vscode/
.idea/


.DS_Store
Thumbs.db


.pytest_cache/
.coverage
htmlcov/


*.sql

.claude/*